body {
  margin: 0;
  font-family: "Roboto", monospace;
  letter-spacing: 0.2rem;
  color: #464646;
}
.app {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}
header {
  padding: 25px 20px;
  height: 60vh;
}
h1 {
  font-size: 2.5rem;
  font-weight: 900;
}
main {
  min-height: 100vh;
  background-color: #f1f2f6;
}
main nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
main nav a {
  padding: 25px 50px;
  margin: 1.5rem;
  border-radius: 10px;
  color: #464646;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1),
    -1rem 1rem 2rem rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
main nav a.active {
  box-shadow: inset 1rem 1rem 2rem rgb(0, 0, 0, 0.1),
    inset -1rem 1rem 2rem rgb(255, 255, 255, 0.5);
}

footer {
  position: absolute;
  bottom: 0px;
  padding: 25px 20px;
}
footer .theme-toggle {
  margin: 20px 0px;
}
footer button {
  padding: 10px;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: #464646;
  cursor: pointer;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1),
  -1rem 1rem 2rem rgba(255, 255, 255, 0.5);
}

footer button.active {
  box-shadow: inset 1rem 1rem 2rem rgb(0, 0, 0, 0.1),
    inset -1rem 1rem 2rem rgb(255, 255, 255, 0.5);
}
footer > a {
  text-decoration: none;
}
